@font-face {
  font-family: Monserrat;
  src: url('../fonts/Monserrat/Montserrat-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: Monserrat;
  src: url('../fonts/Monserrat/Montserrat-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: Allura;
  src: url('../fonts/Allura/Allura-Regular.ttf') format('ttf');
  font-weight: 400;
}
