$color-primary: #ff4646;
$color-primary-10: rgba(255, 70, 70, 0.10);
$color-dark: #181c29;
$color-static-white: #fff;
$color-static-white-40: rgba(255, 255, 255, 0.40);
$color-static-white-20: rgba(255, 255, 255, 0.20);
$color-tag-purple: #4361ff;
$color-tag-pink: #ff43f7;
$color-tag-green: #06a44f;

